<launch>
    <!-- Ortak Parametre Dosyaları (Tüm dronelar için) -->
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_crescent.yaml" command="load"/>
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_random.yaml" command="load"/>
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_random_2.yaml" command="load"/>
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_random_3.yaml" command="load"/>
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_hover.yaml" command="load"/>
    <rosparam file="$(find multi_quadcopter_control)/config/trajectory_pid_tuning.yaml" command="load"/>


    <!-- İlk Drone (drone1) -->
    <group ns="drone1">
        <!-- Drone1'e özel trajectory_manager yükleniyor -->
        <rosparam file="$(find multi_quadcopter_control)/config/trajectory_manager_drone1.yaml" command="load"/>

        <rosparam file="$(find multi_quadcopter_control)/config/quadcopter_params_1.yaml" command="load"/>

        <!-- Waypoint Server -->
        <node name="waypoint_server" pkg="multi_quadcopter_control" type="multi_waypoint_server_node" output="screen" />
        
        <!-- Trajectory Generator -->
        <node name="trajectory_generator" pkg="multi_quadcopter_control" type="multi_trajectory_generator_node" output="screen" />

        <!-- Mid Level Controller -->
        <node name="mid_level_cont" pkg="multi_quadcopter_control" type="multi_mid_level_cont_node" output="screen" />

        <!-- Low Level Controller -->
        <node name="low_level_cont" pkg="multi_quadcopter_control" type="multi_low_level_cont_node" output="screen" />

        <!-- Equations of Motion (EOM) Node -->
        <node name="eom" pkg="multi_quadcopter_control" type="eom" output="screen" />

        <!-- TF Broadcaster ve Path Converter -->
        <node name="reference_position_converter" pkg="multi_quadcopter_control" type="reference_position_converter" output="screen">
        </node>

        <!-- URDF yükleme -->
        <param name="robot_description" command="$(find xacro)/xacro $(find multi_quadcopter_control)/urdf/quad_cad.urdf" />
    </group>

    <!-- İkinci Drone (drone2) -->
    <group ns="drone2">
        <!-- Drone2'ye özel trajectory_manager yükleniyor -->
        <rosparam file="$(find multi_quadcopter_control)/config/trajectory_manager_drone2.yaml" command="load"/>

        <rosparam file="$(find multi_quadcopter_control)/config/quadcopter_params_2.yaml" command="load"/>

        <!-- Waypoint Server -->
        <node name="waypoint_server" pkg="multi_quadcopter_control" type="multi_waypoint_server_node" output="screen" />
        
        <!-- Trajectory Generator -->
        <node name="trajectory_generator" pkg="multi_quadcopter_control" type="multi_trajectory_generator_node" output="screen" />

        <!-- Mid Level Controller -->
        <node name="mid_level_cont" pkg="multi_quadcopter_control" type="multi_mid_level_cont_node" output="screen" />

        <!-- Low Level Controller -->
        <node name="low_level_cont" pkg="multi_quadcopter_control" type="multi_low_level_cont_node" output="screen" />

        <!-- Equations of Motion (EOM) Node -->
        <node name="eom" pkg="multi_quadcopter_control" type="eom" output="screen" />

        <!-- TF Broadcaster ve Path Converter -->
        <node name="reference_position_converter" pkg="multi_quadcopter_control" type="reference_position_converter" output="screen">
        </node>

        <!-- URDF yükleme -->
        <param name="robot_description" command="$(find xacro)/xacro $(find multi_quadcopter_control)/urdf/quad_cad.urdf" />
    </group>

    <!-- RViz Node -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_quadcopter_control)/rviz/quad_rviz.rviz" output="screen" />
</launch>
